/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
  margin: 0;
  font-family: "SUSE", sans-serif;
  background: black;
  color: white;
}

header h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0.4em 0em;
}

header h2 {
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

nav a {
  text-align: center;
  background-color:rgb(255, 149, 131);
  color: white;
  padding: 1em;
  text-shadow: 0px 2px 3px black;
  font-size: 1.2rem;

  transition: background-color 0.5s, font-size 0.2s;
}

nav a:hover {
  background-color:rgb(81, 49, 44);
  font-size: 1.5rem;
}

p {
  text-align: center;
  font-weight: 300;
  padding: 0em 0.2em;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: 100;
  color: rgb(255, 149, 131);
}

.imagesOfFilms {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 1em;
}

.imagesOfFilms img {
  width: 85vw;
  height: auto;

  transition: filter 0.5s ease-in-out;
}

.imagesOfFilms div p {
  position: relative;
  bottom: 50px;
  font-size: 1.2rem;
  opacity: 0;
  text-shadow: 10px 10px 2px black;
  
  transition: opacity 0.4s;
}

.imagesOfFilms img:hover {
  filter: brightness(0.7);
}

.imagesOfFilms img:hover + p {
  opacity: 1;
}

hr {
  color: white;
}

footer p {
  text-align: center;
  font-weight: 300;
}

section.enlargedAligned h2 {
  font-size: 3rem;
  text-align: left;
  padding-left: 0.2em;
}

section.enlargedAligned h3 {
  font-size: 2rem;
  margin: 0;
}

section.enlargedAligned p {
  text-align: left;
  padding: 0;
}

ul > li {
  padding: 0.3em 0;
}

article {
  display: flex;
  flex-direction: column;
  padding: 1.6em 0.5em;
}

article div {
  border: 3px solid rgb(145, 64, 64);
  border-radius: 0.8em;
  padding: 0.3em;
}

article div.purchase {
  border: none;
}

article img {
  width: 100%;
  border-radius: 1em;
}

article h3 {
  text-align: center;
  margin: 0.5em 0;
}

article p {
  padding: 0;
}

ul.subscription_details li {
  font-size: 1.3rem;
}

article div.purchase button {
  width: 100%;
  padding: 0.3em 2em;
  font-size: 1.2em;
  background-color: rgb(255, 149, 131);
  color: inherit;
  font-family: inherit;
  border-radius: 1em;
  transition: background-color 0.4s;
}


button:hover {
  background-color: rgb(81, 49, 44);
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


}
